$banner-font-color: #fff;

.banner {
    display: flex;
    align-items: center;
    background: linear-gradient(#00010c80,#00010ca4), url('../assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 100vh;
    color: $banner-font-color;

    .leading-title {
        display: inline-block;
        line-height: 1.2;
        font-size: 5rem;
        font-weight: 600;
        animation: text-shadow 1.5s ease-in-out infinite;

        @media only screen and (max-width: 992px) {
          font-size: 4rem;
        }

        @media only screen and (max-width: 767px) {
            font-size: 3rem;
        }

        @media only screen and (max-height: 768px) {
            font-size: 3rem;
        }
    }

    .leading-paragraph {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2;
        margin: 0;

        @media only screen and (max-width: 767px) {
          font-size: 1.4rem;
          line-height: 1.8;
        }

        @media only screen and (max-height: 768px) {
            font-size: 1.2rem;
        }
    }
}