$footer-background-color: #0d1017;
$footer-text-color: hsla(0, 0%, 100%, 0.635);
$footer-icons-hover-color: #fff;

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-copyright {
    color: #F8F8F8;
  }

  &-social {
    &__item {
      cursor: pointer;
      margin-right: 1.5rem;
    }
  }

}
