@import 'colors';

.header {
  color: $primary-font-color;
  margin-top: 1rem;
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    img {
      height: 6rem;
      max-width: 20rem;
      vertical-align: middle;

      @media only screen and (max-width: 992px) {
        height: 40px;
      }
    }
  }
}
