@import 'colors';

.header {
  color: $primary-font-color;
  margin-top: 1rem;

  &--transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 999;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    img {
      height: 60px;
      vertical-align: middle;

      @media only screen and (max-width: 992px) {
        height: 40px;
      }
    }
  }

  &__menu-button {
    @media only screen and (min-width: 992px) {
      display: none;
    }
  }

  &__navigation {
    @media only screen and (max-width: 992px) {
      display: none;
    }
  }
}

.header-navigation {

  @media only screen and (max-width: 992px) {
    height: 40px;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin: 0 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0rem;
    }
  }

  &__link {
    @include link-reset;

    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.03rem;

    &::after {
      content: "";
      margin-top: 0.7rem;
      height: 0.2rem;
      display: block;
      background: $accent-color;
      width: 0;
      transition: width 0.3s;
    }

    &:hover {
      @include link-reset;
      &::after {
        width: 100%;
      }
    }
  }
}
